---
import Menu from './Menu.astro';
import Navigation from './Navigation.astro';
---
<header>
  <nav>
    <img src="/favicon.svg" width='50px'></img>
    <Menu />
    <Navigation />
  </nav>
</header>